body {
    font-family: Arial, sans-serif;
    line-height: 1.6; 
    margin: 0;
    padding: 0; 
    background-color: #f8f9fa;
}

.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}


.flex-container {
    display: flex;
    align-items: center; 
    margin: 20px 0; 
}

.flex-container img {
    margin-right: 10px;
}

.line {
    flex-grow: 1; 
    height: 2px; 
    background-color: black; 
    margin: 0 10px; 
}

.underline {
    text-decoration: underline;
    color: blue;
}

hr {
    margin: 20px 0; 
}

img{
    max-width: 100%;
    height: auto;
}

@media only screen and (max-width: 600px) {
    .container {
        padding: 10px; 
    }

    h1 {
        font-size: 24px; 
    }

    p {
        font-size: 14px;
    }

    img {
        width: 100%; 
        height: auto; 
    }

    .flex-container {
        flex-direction: column; 
    }
}
